{
  "openapi": "3.0.0",
  "info": {
    "title": "Physically Based API",
    "description": "A database of physically based values for CG artists.",
    "version": "1.0.0",
    "contact": {
      "name": "Contact Form",
      "url": "https://physicallybased.info/about/"
    },
    "license": {
      "name": "CC-BY-SA-4.0",
      "url": "https://creativecommons.org/licenses/by-sa/4.0/legalcode"
    }
  },
  "servers": [
    {
      "url": "https://api.physicallybased.info/"
    }
  ],
  "paths": {
    "/materials": {
      "get": {
        "tags": ["Materials"],
        "description": "Gets a list of materials.",
        "operationId": "getMaterials",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Material"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lightsources": {
      "get": {
        "tags": ["Light Sources"],
        "description": "Gets a list of light sources.",
        "operationId": "getLightsources",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lightsource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cameras": {
      "get": {
        "tags": ["Cameras"],
        "description": "Gets a list of cameras.",
        "operationId": "getCameras",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Camera"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Material": {
        "title": "Material",
        "description": "PBR material using the Autodesk Standard Surface naming conventions: https://autodesk.github.io/standard-surface/",
        "type": "array",
        "items": {
          "additionalProperties": false,
          "properties": {
            "name": {
              "title": "Name",
              "description": "Name of the material.",
              "type": "string",
              "default": "Name",
              "example": "Gold"
            },
            "color": {
              "title": "Color",
              "description": "Albedo, or metal color, RGB triplet (vec3) in linear decimal format in rec709 primaries.",
              "type": "array",
              "items": {
                "type": "number"
              },
              "default": [0.5, 0.5, 0.5],
              "minItems": 3,
              "maxItems": 3,
              "example": [0.944, 0.776, 0.373]
            },
            "metalness": {
              "type": "number",
              "default": 0,
              "example": 1
            },
            "specularColor": {
              "title": "Specular Color",
              "description": "Specular color for metals (edge tint), calculated from n and k values.",
              "type": "array",
              "items": {
                "type": "number"
              },
              "default": [1, 1, 1],
              "minItems": 3,
              "maxItems": 3,
              "example": [0.998, 0.981, 0.751]
            },
            "roughness": {
              "title": "Roughness",
              "type": "number",
              "default": 0.5,
              "example": 0
            },
            "ior": {
              "title": "Index of Refraction",
              "type": "number",
              "default": 1.5,
              "example": 1.5
            },
            "subsurfaceRadius": {
              "title": "Subsurface Radius",
              "description": "The approximate distance up to which light can scatter below the surface, also known as “mean free path” (MFP).",
              "type": "array",
              "items": {
                "type": "number"
              },
              "default": [1, 1, 1],
              "minItems": 3,
              "maxItems": 3,
              "example": [0, 0, 0]
            },
            "transmission": {
              "title": "Transmission",
              "type": "number",
              "default": 0,
              "example": 0
            },
            "transmissionDispersion": {
              "title": "Transmission Dispersion",
              "description": "Abbe number, describing how much the index of refraction varies across wavelengths. For glass and diamonds, this is typically in the range of 10 to 70, with lower numbers giving more dispersion.",
              "type": "number",
              "default": 0,
              "example": 0
            },
            "complexIor": {
              "title": "Complex Index of Refraction",
              "description": "Complex IOR values, n (refractive index), and k (extinction coefficient), for each color channel, in the following order: nR, kR, nG, kG, nB, kB. Calculated from spectral IOR data files.",
              "type": "array",
              "items": {
                "type": "number"
              },
              "default": [0, 0, 0, 0, 0, 0],
              "minItems": 6,
              "maxItems": 6,
              "example": [0.18299, 3.4242, 0.42108, 2.3459, 1.3734, 1.7704]
            },
            "density": {
              "title": "Density",
              "description": "Density measured in kg/m3, for physics simulations such as rigid bodies and fluid dynamics.",
              "type": "number",
              "default": 1000,
              "example": 19320
            },
            "densityRange": {
              "title": "Density Range",
              "description": "The typical range of density.",
              "type": "array",
              "items": {
                "type": "number"
              },
              "default": [1000, 1000],
              "minItems": 2,
              "maxItems": 2,
              "example": [19320, 19320]
            },
            "viscosity": {
              "title": "Viscosity",
              "description": "Dynamic viscosity measured in millipascal-seconds (mPa⋅s) at a temperature of 20°C. 1 mPa⋅s (millipascal-second) = 1 cP (centipoise). Used for fluid simulations.",
              "type": "number",
              "default": 1,
              "example": 0
            },
            "acousticAbsorption": {
              "title": "Acoustic Absorption",
              "description": "Absorption coefficients for the simulation of material audio response in audio engines. Specifies coefficients at 125, 250, 500, 1000, 2000, and 4000 kHz.",
              "type": "array",
              "items": {
                "type": "number"
              },
              "default": [0.5, 0.5, 0.5, 0.5, 0.5, 0.5],
              "minItems": 6,
              "maxItems": 6,
              "example": [0, 0, 0, 0, 0, 0]
            },
            "category": {
              "title": "Category",
              "type": "array",
              "items": {
                "enum": [
                  "Calibration",
                  "Crystal",
                  "Gas",
                  "Human",
                  "Liquid",
                  "Manmade",
                  "Metal",
                  "Organic",
                  "Plastic"
                ]
              },
              "minItems": 1,
              "maxItems": 1,
              "example": ["Metal"]
            },
            "group": {
              "title": "Group",
              "description": "Can be used to group similar materials together. For example, Skin I, Skin II, and Skin III would be part of the same group: Skin.",
              "type": "string",
              "default": "Group",
              "example": "Gold"
            },
            "description": {
              "title": "Description",
              "description": "This field should be used for disclaimers and other useful info for CG artists that may affect the way they use the values. It's totally fine to leave this empty.",
              "type": "string",
              "maxLength": 500
            },
            "sources": {
              "title": "Sources",
              "description": "Provide at least one source for the values.",
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1
              },
              "minItems": 1,
              "uniqueItems": true,
              "example": [
                "https://refractiveindex.info/?shelf=3d&book=metals&page=gold"
              ]
            },
            "tags": {
              "title": "Tags",
              "description": "Tags for when there are alternative names or spellings of the same material.",
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true,
              "example": [""]
            },
            "reference": {
              "title": "Reference",
              "description": "Links to reference images.",
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1
              },
              "uniqueItems": true,
              "example": [""]
            }
          },
          "required": [
            "name",
            "color",
            "metalness",
            "roughness",
            "ior",
            "density",
            "category",
            "description",
            "sources",
            "reference"
          ]
        }
      },
      "Lightsource": {
        "title": "Light Source",
        "description": "A light source.",
        "type": "array",
        "items": {
          "properties": {
            "name": {
              "title": "Name",
              "description": "Name of the light source.",
              "type": "string",
              "default": "Name",
              "example": "Sun"
            },
            "temperature": {
              "title": "Color Temperature",
              "description": "Color temperature in Kelvin.",
              "type": "number",
              "default": 6500,
              "example": 5778
            },
            "temperatureRange": {
              "title": "Color Temperature Range",
              "description": "The typical range of color temperature for this specific light source.",
              "type": "array",
              "items": {
                "type": "number"
              },
              "default": [6500, 7000],
              "minItems": 2,
              "maxItems": 2,
              "example": [5778, 5778]
            },
            "intensity": {
              "title": "Intensity",
              "type": "number",
              "default": 0,
              "example": 100000
            },
            "intensityRange": {
              "title": "Intensity Range",
              "description": "The typical range of intensity for this specific light source.",
              "type": "array",
              "items": {
                "type": "number"
              },
              "default": [0, 1],
              "minItems": 2,
              "maxItems": 2,
              "example": [400, 100000]
            },
            "unit": {
              "title": "Unit",
              "type": "array",
              "items": {
                "enum": ["lm", "lx", "cd/m2"]
              },
              "minItems": 1,
              "maxItems": 1,
              "example": "lx"
            },
            "type": {
              "title": "Type",
              "description": "The type of light, for DCC applications.",
              "type": "array",
              "items": {
                "enum": [
                  "directional",
                  "surface",
                  "spot",
                  "point",
                  "cylinder",
                  "dome"
                ]
              },
              "minItems": 1,
              "maxItems": 1,
              "example": "directional"
            },
            "category": {
              "title": "Category",
              "type": "array",
              "items": {
                "enum": ["Artificial", "Natural"]
              },
              "minItems": 1,
              "maxItems": 1,
              "example": ["Natural"]
            },
            "description": {
              "title": "Description",
              "description": "This field should be used for disclaimers and other useful info for CG artists that may affect the way they use the values. It's totally fine to leave this empty.",
              "type": "string",
              "maxLength": 500,
              "example": "The changing color of the Sun over the course of the day is mainly a result of the scattering of sunlight and is not due to changes in black-body radiation. The solar illuminance constant is equal to 128 000 lux, but atmospheric extinction brings the number of lux down to around 100 000 lux."
            },
            "sources": {
              "title": "Sources",
              "description": "Provide at least one source for the values.",
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1
              },
              "minItems": 1,
              "uniqueItems": true,
              "example": [
                "https://en.wikipedia.org/wiki/Color_temperature#The_Sun"
              ]
            },
            "tags": {
              "title": "Tags",
              "description": "Tags for when there are alternative names or spellings of the same light source.",
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true,
              "example": [""]
            }
          },
          "required": [
            "name",
            "temperature",
            "intensity",
            "unit",
            "category",
            "description",
            "sources"
          ]
        }
      },
      "Camera": {
        "title": "Camera",
        "description": "Any type of camera that is being used, or simulated, in any way in CG productions (including games).",
        "type": "array",
        "items": {
          "additionalProperties": false,
          "properties": {
            "name": {
              "title": "Name",
              "description": "Name of the camera.",
              "type": "string",
              "default": "Name",
              "example": "Panavision DXL2"
            },
            "sensorSize": {
              "title": "Sensor Size",
              "description": "Array of sensor sizes. First item specifies the size of a fully open gate. If needed, additional sizes can be added for cameras that crop the sensor.",
              "type": "array",
              "minItems": 1,
              "items": {
                "additionalProperties": false,
                "type": "object",
                "properties": {
                  "format": {
                    "description": "Specifies the sensor format.",
                    "type": "string",
                    "default": "Open Gate"
                  },
                  "size": {
                    "description": "Sensor size in millimeters (WxH).",
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "default": [36, 24],
                    "minItems": 2,
                    "maxItems": 2
                  }
                },
                "required": ["format", "size"],
                "example": [
                  { "format": "8K Full Format", "size": [40.96, 21.6] },
                  {
                    "format": "8K 2:1",
                    "size": [40.96, 20.48]
                  }
                ]
              }
            },
            "category": {
              "title": "Category",
              "type": "array",
              "items": {
                "enum": ["Still", "Movie", "Mobile"]
              },
              "minItems": 1,
              "maxItems": 1,
              "example": ["Movie"]
            },
            "description": {
              "title": "Description",
              "description": "This field should be used for disclaimers and other useful info for CG artists that may affect the way they use the values. It's totally fine to leave this empty.",
              "type": "string",
              "maxLength": 500,
              "example": "This camera uses the RED Monstro 8K sensor."
            },
            "sources": {
              "title": "Sources",
              "description": "Provide at least one source for the values. Source link to official manufacturer website is preferred.",
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1
              },
              "minItems": 1,
              "uniqueItems": true,
              "example": ["https://dxl.panavision.com/"]
            },
            "tags": {
              "title": "Tags",
              "description": "Tags for when there are alternative names or spellings of the same camera.",
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true,
              "example": ["imax"]
            }
          },
          "required": [
            "name",
            "sensorSize",
            "category",
            "description",
            "sources"
          ]
        }
      }
    }
  }
}
